{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">

    <h1>Registering as an Artist or a nonprofit</h1>
    <div class="container">
        <a href="{% url 'accounts:organization_signup'%}" class="btn btn-info" role="button">Organization</a>
        <a href="{% url 'accounts:signup'%}" class="btn btn-info" role="button">Normal User</a>

    </div>

      <h1>Artist Sign Up</h1>
      <div class="container">
        <p> Click <a href="{% url 'accounts:login' %}"> HERE</a> to login to an existing account. </p>
      </div>

      <form  method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-default" name="" value="Sign Up">

      </form>
    </div>

{% endblock %}
